<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Organ Donation Website Tempalte </title>
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    <link rel="stylesheet" href="public/css/organization.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="dummy"></div>
    <header id="menu-jk" class="header-container">
        <!-- <div class="container"> -->
        <div class="header-row row">
            <div class="col-md-3 logocol">
                <img src="public/images/others/logo.jpg" alt="">
                <a class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div id="navbarNavDropdown" class="col-md-12 d-none d-md-block navcol">
                <ul>
                    <li>
                        <h5><b><a href="/">Home</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/donater_login">Donater</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/org_login">Organization</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/services">Services</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/aboutus">About Us</a>
                    </li></b></h5>
                </ul>
            </div>
        </div>
        <!-- </div> -->
    </header>

        
     <!--  ************************* Page Title Starts Here ************************** -->
     
    <div class="page-nav no-margin row">
        <div class="container" id="nav">
            <div class="row">
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> About Us</li>
                </ul>
            </div>
        </div>
    </div>
       
    <!----- ################### About US Starts Here #################### -->
         
    <div class="about-home container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 logocol">
                    <img src="public/images/others/dental-team.jpg" alt="">
                </div>
                <div class="col-md-6 contentcol">
                    <h5>Transforming Lives One Gift At a Time!</h5>
                    <h2> Welcome to our Organ Donation website,</h2>
                        
                        <p>where the gift of life begins with you. We are dedicated to raising awareness and promoting
                            the noble act of organ donation, saving countless lives in the process.</p>
                        <p> Explore our resources to learn about the impact of organ donation, how to register as a
                            donor,and the incredible stories of those who have given and received the gift of life.
                            Join us in making a difference together, we can ensure a brighter future for those in
                            need.
                        </p>
                </div>
            </div>
        </div>
    </div>

        
<!-- ################# Our Team Starts Here#######################--->
    <section class="our-team">
        <div class="container">
             <div class="row section-title">
                <h2>Our Team</h2>
                <p>Gift of Life: Join Us in the Journey of Giving!</p>
            </div>
            <div class="row team-row">
                <div class="col-md-3 col-sm-6 pro">
                    <div class="single-usr">
                        <img src="public\images\testimonial\member-01.jpg" alt="">
                        <div class="det-o">
                            <h4>Chayan Jana</h4>
                            <i>Developer</i>
                        </div>
                        <div class="social-links">
                            <a href=""><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.instagram.com/iamchayanjana/"><i class="fa-brands fa-instagram"></i></a> 
                            <a href=""><i class="fa-brands fa-linkedin"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 pro">
                    <div class="single-usr">
                        <img src="/public\images\testimonial\member-04.jpg" alt="">
                        <div class="det-o">
                            <h4>Tiyasa Maity</h4>
                            <i>Developer</i>
                        </div>
                        <div class="social-links">
                            <a href=""><i class="fa-brands fa-github"></i></i></a>
                            <a href="https://www.instagram.com/tiyasamaity68/"><i class="fa-brands fa-instagram"></i></a> 
                            <a href=""><i class="fa-brands fa-linkedin"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 pro">
                    <div class="single-usr">
                        <img src="/public\images\testimonial\member-03.jpg" alt="">
                        <div class="det-o">
                            <h4>Sk Mijanur Rahaman</h4>
                            <i>Developer</i>
                        </div>
                        <div class="social-links">
                            <a href=""><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.instagram.com/mijanur1007/"><i class="fa-brands fa-instagram"></i></a> 
                            <a href=""><i class="fa-brands fa-linkedin"></i></a> 
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 pro">
                    <div class="single-usr">
                        <img src="/public\images\testimonial\member-05.png" alt="">
                        <div class="det-o">
                            <h4>Sreya Giri</h4>
                            <i>Developer</i>
                        </div>
                        <div class="social-links">
                            <a href=""><i class="fa-brands fa-github"></i></a>
                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                            <a href=""><i class="fa-brands fa-linkedin"></i></a>  
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-3 col-sm-6 pro">
                    <div class="single-usr">
                        <img src="/public/images/testimonial/member-02.jpg" alt="">
                        <div class="det-o">
                            <h4>Dipraj Dolui</h4>
                            <i>Developer</i>
                        </div>
                        <div class="social-links">
                            <a href="https://github.com/DiprajDolui"><i class="fa-brands fa-github"></i></a>
                            <a href="https://www.instagram.com/diprajdolui/"><i class="fa-brands fa-instagram"></i></a> 
                            <a href="https://github.com/DiprajDolui"><i class="fa-brands fa-linkedin"></i></a> 
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
        
     <!--  ************************* Footer Start Here ************************** -->
        
     <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Our organ donation services encompass seamless registration,compassionate support,and life-saving coordination. We're committed to facilitating the selfless act of donation, giving hope and a second chance to those in need.
                    </p>
                    <p>We focus on technologies that promise to reduce costs, streamline processes and speed
                        time-to-market, Backed by our strong quality processes and rich experience managing global...
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="Services" href="/services">Our services</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="about" href="/aboutus">About us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        Organ developer team fiem <a href="http://" br>
                            Kolkata, <br>
                            700050
                            Phone: +91 7477688521 <br>
                            Email: <a href="chayanjanaofficial@gmail.com" class="">chayanjanaofficial@gmail.com</a><br>
                    </address>
                </div>
            </div>
        </div>

    </footer>
    <div class="copy">
        <div class="container">
            <a href="https://www.smarteyeapps.com/">2023 &copy; All Rights Reserved | Designed and Developed by Chayan's
                Entire Team</a>

            <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>
    </div>



</body>

<script src="public/js/jquery-3.2.1.min.js"></script>
<script src="public/js/popper.min.js"></script>
<script src="public/js/bootstrap.bundle.min.js"></script>
<script src="public/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="public/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="public/js/script.js"></script>
<script src="public/js/donater_login.js"></script>

</html>