<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Organ Donation Website Tempalte </title>
    <link rel="shortcut icon" href="public/images/fav.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="shortcut icon" href="public/images/fav.jpg">
    <link rel="stylesheet" href="public/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="stylesheet" href="public/plugins/testimonial/css/owl.carousel.min.css">
    <link rel="stylesheet" href="public/plugins/testimonial/css/owl.theme.min.css">
    <link rel="stylesheet" href="public/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="public/css/style.css" />
</head>

<body>
    <div class="dummy"></div>
    <header id="menu-jk" class="header-container">
        <!-- <div class="container"> -->
        <div class="header-row row">
            <div class="col-md-3 logocol">
                <img src="public\images\others\logo.jpg" alt="">
                <a class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </a>
            </div>
            <div id="navbarNavDropdown" class="col-md-12 d-none d-md-block navcol">
                <ul>
                    <li>
                        <h5><b><a href="/">Home</a>
                    </li></b></h5>
                    <li onload="donater_login()">
                        <!-- <h5><b><a href="donater.html">Donater</a> -->
                        <h5><b><a href="/donater_login">Donater</a></b></h5>
                    </li>
                    <li>
                        <h5><b><a href="/org_login">Organization</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/services">Services</a>
                    </li></b></h5>
                    <li>
                        <h5><b><a href="/aboutus">About Us</a>
                    </li></b></h5>
                </ul>
            </div>
        </div>
        <!-- </div> -->
    </header>

    <!-- ################### Slider Starts Here #################### -->

    <div class="slider container-fluid">
        <div class="container">
            <div class="row slider-row">
                <div class="col-md-7  animate__animated animate__fadeInLeft contentcol">
                    <h2>Welcome to a place where kindness transforms lives </h2>
                    <p><h4>Explore organ donation and be a beacon of hope today.</h4></p>
                        <!-- <button type="button" class="btn btn-outline-primary">Primary</button>  -->
                </div>
                <div class="col-md-5  animate__animated animate__fadeInRight imgcol">
                    <img src="public/images/others/homepic.png" alt="">
                </div>
            </div>
        </div>
    </div>


    <!----- ################### Key Features Starts Here #################### -->

    <div class="key-feature-row row">
        <div class="col-md-3 c1 keycol">
            <img src="public/images/icon/001.png" alt="">
            <h4>Heart Transplant</h4>
            <p>Transforming lives one heart at a time through the gift of transplantation.</p>
        </div>
        <div class="col-md-3 c2 keycol">
            <img src="public/images/icon/002.png" alt="">
            <h4>Vein Transplant</h4>
            <p>Experience the future of vascular health with our innovative vein transplant solutions, restoring
                vitality one patient at a time.</p>
        </div>
        <div class="col-md-3 c3 keycol">
            <img src="public/images/icon/003.png" alt="">
            <h4>Kidney Transplant</h4>
            <p>Transforming lives through the gift of life: Kidney transplantation, a beacon of hope.</p>
        </div>
        <div class="col-md-3 c4 keycol">
            <img src="public/images/icon/004.png" alt="">
            <h4>Liver Transplant</h4>
            <p>Transforming Lives, One Liver at a Time - Offering Hope through Liver Transplants.</p>
        </div>
    </div>

    <!----- ################### About US Starts Here #################### -->

    <div class="about-home container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 logocol">
                    <img src="public\images\others\dental-team.jpg " alt="">
                </div>
                <div class="col-md-6 contentcol">
                    <h6>Transforming Lives One Gift At a Time!</h6>
                    <h2> Welcome to our Organ Donation website,</h2>
                        
                        <p>where the gift of life begins with you. We are dedicated to raising awareness and promoting
                            the noble act of organ donation, saving countless lives in the process.</p>
                        <p> Explore our resources to learn about the impact of organ donation, how to register as a
                            donor,and the incredible stories of those who have given and received the gift of life.
                            Join us in making a difference together, we can ensure a brighter future for those in
                            need.
                        </p>
                </div>
            </div>
        </div>
    </div>


    <!--    Services Starts Here   -->

    <section class="services container-fluid">
        <div class="container">
            <div class="row section-title">
                <h2>Our Services</h2>

                <br>
                <p>
                <h6>Our organ donation services encompass seamless registration, compassionate support, and life-saving
                    coordination. We're committed to facilitating the selfless act of donation, giving hope and a second
                    chance to those in need.</h6>
                </p>
            </div>
            <div class="servic-row row">
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/001.png" alt="">
                        <h4>Heart Transplant</h4>
                        <p>Transforming lives, one heartbeat at a time - Join us in the journey of hope through heart
                            transplantation.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/002.png" alt="">
                        <h4>Vain Transplant</h4>
                        <p>Rediscover your confidence with our transformative hair transplant solutions – where beauty
                            meets precision</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/003.png" alt="">
                        <h4>Kidney Transparent</h4>
                        <p>Transforming lives one kidney at a time – offering hope, second chances, and renewed vitality
                            through transplantation.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/004.png" alt="">
                        <h4>Liver Transplant</h4>
                        <p>Transforming Lives Through Liver Transplants - Offering Hope and Second Chances.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/005.png" alt="">
                        <h4>Lungs Transplant</h4>
                        <p>Breathing new life through transplantation: Transforming futures, one lung at a time.
                        </p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/006.png" alt="">
                        <h4>Body Transplant</h4>
                        <p>Unlock the potential of a new you with our revolutionary body transplant solutions,
                            redefining possibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--  ************************* Testimonial Start Here ************************** -->

    <section class="testimonial-container pb-5">
        <div class="container">
            <div class="section-title row">
                <h2>Testimonial</h2>
                <p>Take a look at our team </p>
            </div>
            <div class="row mt-5">
                <div class="col-md-offset-2 float-auto col-md-12">
                    <div id="testimonial-slider" class="owl-carousel">
                        <div class="testimonial">
                            <div class="pic">
                                <img src="public\images\testimonial\member-01.jpg" alt="">
                            </div>
                            <p class="description">
                                Join us in the noble journey of giving<br> the gift of life through organ donation
                            </p>
                            <h3 class="title">Chayan Jana
                                <span class="post"> - Developer</span>
                            </h3>
                        </div>

                        <div class="testimonial">
                            <div class="pic">
                                <img src="/public/images/testimonial/member-02.jpg" alt="">
                            </div>
                            <p class="description">
                                Together, we can make a lasting <br>impact and inspire hope
                            </p>
                            <h3 class="title">Dipraj Dolui
                                <span class="post">- Developer </span>
                            </h3>
                        </div>


                        <div class="testimonial">
                            <div class="pic">
                                <img src="/public\images\testimonial\member-03.jpg" alt="">
                            </div>
                            <p class="description">
                                Unlock the power of giving. <br>Be a hero. Donate organs, save lives
                            </p>
                            <h3 class="title">Sk Mijanur Rahaman
                                <span class="post"> - Developer</span>
                            </h3>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/public\images\testimonial\member-04.jpg" alt="">
                            </div>
                            <p class="description">
                                Welcome to a world of giving. <br>Explore organ donation, be a lifeline
                            </p>
                            <h3 class="title">Tiyasa Maity
                                <span class="post"> - Developer</span>
                            </h3>
                        </div>
                        <div class="testimonial">
                            <div class="pic">
                                <img src="/public\images\testimonial\member-05.png" alt="">
                            </div>
                            <p class="description">
                                Welcome to the heart of generosity.<br> Explore organ donation, be the heartbeat of hope.
                            </p>
                            <h3 class="title">Sreya Giri
                                <span class="post"> - Developer</span>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--  ************************* Latest Blog ************************** -->


    <div class="blog container-fluid">
        <div class="container">
            <div class="section-title row">
                <h2>Our Latest Blog</h2>
                <p>Discover our latest blog on organ donation, a source of valuable insights and inspiring stories that
                    shed light on the power of giving the gift of life</p>
            </div>
            <div class="row mt-5 blog-row">
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="public/images/blog/b1.jpg" alt="">
                        <span>Sept 4, 2023</span>
                        <h4>Doctors: Bridging life through organ transfers</h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="public/images/blog/b2.jpg" alt="">
                        <span>Nov 14, 2023</span>
                        <h4> Doctors: Transferring life, one organ at a time </h4>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="blogcol">
                        <img src="public/images/blog/b3.jpg" alt="">
                        <span>oct 14, 2023</span>
                        <h4>Doctors: Uniting lives, organ by organ.</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--  ************************* Footer Start Here ************************** -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <h2>About Us</h2>
                    <p>
                        Our organ donation services encompass seamless registration,compassionate support,and life-saving coordination. We're committed to facilitating the selfless act of donation, giving hope and a second chance to those in need.
                    </p>
                    <p>We focus on technologies that promise to reduce costs, streamline processes and speed
                        time-to-market, Backed by our strong quality processes and rich experience managing global...
                    </p>
                </div>
                <div class="col-md-4 col-sm-12">
                    <h2>Useful Links</h2>
                    <ul class="list-unstyled link-list">
                        <li><a ui-sref="Services" href="/services">Our services</a><i class="fa fa-angle-right"></i></li>
                    <li><a ui-sref="about" href="/aboutus">About us</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <div class="col-md-4 col-sm-12 map-img">
                    <h2>Contact Us</h2>
                    <address class="md-margin-bottom-40">
                        Organ developer team fiem <a href="https://chayanjana.bio.link/" br>
                            Kolkata, <br>
                            700050
                            Phone: +91 7477688521 <br>
                            Email: <a href="chayanjanaofficial@gmail.com" class="">chayanjanaofficial@gmail.com</a><br>
                            
                    </address>
                </div>
            </div>
        </div>

    </footer>
    <div class="copy">
        <div class="container">
             <a href="">2023 &copy; All Rights Reserved | Designed and Developed by Chayan's 
                Entire Team</a>

            <span>
                <a><i class="fab fa-github"></i></a>
                <a><i class="fab fa-google-plus-g"></i></a>
                <a><i class="fab fa-pinterest-p"></i></a>
                <a><i class="fab fa-twitter"></i></a>
                <a><i class="fab fa-facebook-f"></i></a>
            </span>
        </div>
    </div>



</body>

<script src="public/js/jquery-3.2.1.min.js"></script>
<script src="public/js/popper.min.js"></script>
<script src="public/js/bootstrap.bundle.min.js"></script>
<script src="public/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="public/plugins/testimonial/js/owl.carousel.min.js"></script>
<script src="public/js/script.js"></script>
<script src="public/js/donater_login.js"></script>

</html>