<!doctype html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Organ Donation Website Tempalte </title>
        <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="shortcut icon" href="assets/images/fav.jpg">
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
        <link rel="stylesheet" href="public/plugins/testimonial/css/owl.carousel.min.css">
        <link rel="stylesheet" href="public/plugins/testimonial/css/owl.theme.min.css">
        <link rel="stylesheet" href="public/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="public/css/style.css" />
    </head>

    <body>
        <div class="dummy"></div>
        <header id="menu-jk" class="header-container">
            <!-- <div class="container"> -->
                <div class="header-row row">
                    <div class="col-md-3 logocol">
                        <img src="public/images/others/logo.jpg" alt="">
                         <a class="navbar-toggler d-md-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                     <i class="fas fa-bars"></i>
                            </a>
                    </div>
                    <div id="navbarNavDropdown" class="col-md-12 d-none d-md-block navcol">
                        <ul>
                            <li><h5><b><a href="/">Home</a></li></b></h5>
                            <li><h5><b><a href="/donater_login">Donater</a></li></b></h5>
                            <li><h5><b><a href="/org_login">Organization</a></li></b></h5>
                            <li><h5><b><a href="/services">Services</a></li></b></h5>
                            <li><h5><b><a href="/aboutus">About Us</a></li></b></h5>
                        </ul>
                    </div>
                </div>
            <!-- </div> -->
        </header>
        
     <!--  ************************* Page Title Starts Here ************************** -->
     
    <div class="page-nav no-margin row">
        <div class="container" id="nav">
            <div class="row">
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i>Services</li>
                </ul>
            </div>
        </div>
    </div>
       
  
    <section class="services container-fluid">
        <div class="container">
            <div class="row section-title">
                <h2>Our Services</h2>

                <br>
                <p>
                <h6>Our organ donation services encompass seamless registration, compassionate support, and life-saving
                    coordination. We're committed to facilitating the selfless act of donation, giving hope and a second
                    chance to those in need</h6>
                </p>
            </div>
            <div class="servic-row row">
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/001.png" alt="">
                        <h4>Heart Transplant</h4>
                        <p>Transforming lives, one heartbeat at a time - Join us in the journey of hope through heart
                            transplantation.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/002.png" alt="">
                        <h4>Vain Transplant</h4>
                        <p>Rediscover your confidence with our transformative hair transplant solutions – where beauty
                            meets precision</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/003.png" alt="">
                        <h4>Kidney Transparent</h4>
                        <p>Transforming lives one kidney at a time – offering hope, second chances, and renewed vitality
                            through transplantation.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/004.png" alt="">
                        <h4>Liver Transplant</h4>
                        <p>Transforming Lives Through Liver Transplants - Offering Hope and Second Chances.</p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/005.png" alt="">
                        <h4>Lungs Transplant</h4>
                        <p>Breathing new life through transplantation: Transforming futures, one lung at a time.
                        </p>
                    </div>
                </div>
                <div class="servic-col col-md-4">
                    <div class="servcover">
                        <img src="public/images/icon/006.png" alt="">
                        <h4>Body Transplant</h4>
                        <p>Unlock the potential of a new you with our revolutionary body transplant solutions,
                            redefining possibilities.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <!--  ************************* Footer Start Here ************************** -->
        
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <h2>About Us</h2>
                        <p>
                            Our organ donation services encompass seamless registration,compassionate support,and life-saving coordination. We're committed to facilitating the selfless act of donation, giving hope and a second chance to those in need.
                        </p>
                        <p>We focus on technologies that promise to reduce costs, streamline processes and speed
                            time-to-market, Backed by our strong quality processes and rich experience managing global...
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h2>Useful Links</h2>
                        <ul class="list-unstyled link-list">
                            <li><a ui-sref="Services" href="/services">Our services</a><i class="fa fa-angle-right"></i></li>
                        <li><a ui-sref="about" href="/aboutus">About us</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-sm-12 map-img">
                        <h2>Contact Us</h2>
                        <address class="md-margin-bottom-40">
                            Organ developer team fiem <a href="http://" br>
                                Kolkata, <br>
                                700050
                                Phone: +91 7477688521 <br>
                                Email: <a href="chayanjanaofficial@gmail.com" class="">chayanjanaofficial@gmail.com</a><br>
                                <!--Web: <a href="https://smarteyeapps.com/" class="">www.bluedart.in</a> -->
                        </address>
                    </div>
                </div>
            </div>
    
        </footer>
        <div class="copy">
            <div class="container">
                <a href="https://www.smarteyeapps.com/">2023 &copy; All Rights Reserved | Designed and Developed by Chayan's
                    Entire Team</a>
    
                <span>
                    <a><i class="fab fa-github"></i></a>
                    <a><i class="fab fa-google-plus-g"></i></a>
                    <a><i class="fab fa-pinterest-p"></i></a>
                    <a><i class="fab fa-twitter"></i></a>
                    <a><i class="fab fa-facebook-f"></i></a>
                </span>
            </div>
        </div>
    
    
    
    </body>
    
    <script src="public/js/jquery-3.2.1.min.js"></script>
    <script src="public/js/popper.min.js"></script>
    <script src="public/js/bootstrap.bundle.min.js"></script>
    <script src="public/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
    <script src="public/plugins/testimonial/js/owl.carousel.min.js"></script>
    <script src="public/js/script.js"></script>
    <script src="public/js/donater_login.js"></script>

    
</html>